.page {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 1rem;
  background: linear-gradient(to bottom, hsl(248, 17%, 9%), hsl(255, 22%, 4%));
}

.page__icons {
  display: none;
}