@import "styles/components/page.css";

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("/src/fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

:root {
   --color-very-dark-grey: hsl(248, 15%, 11%);
   --color-dark-grey: hsl(247, 11%, 15%);
   --color-grey: hsl(251, 9%, 53%);
   --color-almost-white: hsl(252, 11%, 91%);
   --color-neon-green: hsl(127, 100%, 82%);
   --color-yellow: hsl(42, 91%, 68%);
   --color-orange: hsl(13, 95%, 66%);
   --color-red: hsl(0, 91%, 63%);
}

body {
  font-family:
    "JetBrains Mono Bold",
    system-ui,
		-apple-system,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}